body {
	font-family: "Helvetica";
	width: 100vw;
	height: 100vh;
}

ul {
	width: 330px;
	height: 330px;
	list-style-type: none;
	padding: 0;
	margin: 0 30px;
	background-color: #393BC2;
	display: inline-block;
}
li {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	font-size: 20px;
	line-height: 30px;
}
div {
	margin: 20px auto;
}

.display, .appendage, #reset-message {
	text-align: center;
	display: none;
}

.red {
	color: red;
}
.white {
	color: white;
}
.boat {

}
.grey {
	background-color: #84939A;
}
.top {
	background-image: url("../images/triangle.png");
	background-size: cover;
}
.bottom {
	background-image: url("../images/triangle.png");
	
}
.left {
	background-image: url("../images/triangle.png");
	
}
.right {
	background-image: url("../images/triangle.png");
	
}

/*.arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #464646;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #464646;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #464646;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #464646;
}*/

header {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#start {
	width: 100px;
	height: 30px;
}











