body {
	font-family: "Helvetica";
	width: 100vw;
	height: 100vh;
}

ul {
	width: 330px;
	height: 330px;
	list-style-type: none;
	padding: 0;
	margin: 0 30px;
	background-color: #393BC2;
	display: inline-block;
}
li {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	font-size: 20px;
	line-height: 30px;
}
div {
	margin: 20px auto;
}

.display, .appendage, #reset-message {
	text-align: center;
	display: none;
}
.go-left {
	text-align: left;
	width: 100vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
#close {
	color: #777;
	font-weight: bold;
}
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.red {
	color: red;
}
.white {
	color: white;
}
.boat {

}
.grey {
	background-color: #84939A;
}
.top {
	background-image: url("../assets/triangle.png");
	background-size: cover;
}
.bottom {
	background-image: url("../assets/triangle.png");
	
}
.left {
	background-image: url("../assets/triangle.png");
	
}
.right {
	background-image: url("../assets/triangle.png");
	
}

/*.arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #464646;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #464646;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #464646;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #464646;
}*/

header {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#start {
	width: 100px;
	height: 30px;
}











